.works {
    background-color: #f0f0f0;
    padding-top: 40px;

}
.img_wrapp {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.img_wrapp img {
    width: 337px;
    height: 220px;
    margin: 25px;
    border-radius: 10px;
}