.uslugi {
    padding-top: 40px;
}
.service_button_wrap a{
    transition: all 1s;
}
.tittle {
    text-align: center;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 10px 0 10px 0;
}

.subtittle {
    text-align: center;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 300;
    color: #000000;
    margin: 0;
}

.uslugi__item {
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 33px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.84);
-webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.84);
-moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.84);
}

.uslugi__items {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: center;


}


.uslugi__content {
    margin: auto;
}

.uslugi__item img {
    width: 300px;
}

.uslugi__item p {
    text-align: left;
    color: #000000;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 14px;
    opacity: 0.7;
}

.service_button_wrap button {
    color: #ffffff;
    background-color: #02b9f3;
    border-radius: 7px;
    font-family: "roboto";
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

@media(max-width: 560px) {
    .tittle {
        text-align: center;
        font-family: 'TildaSans', Arial, sans-serif;
        font-weight: 600;
        color: #000000;
        font-size: 2px;
    }
    .uslugi__items {
        margin-top: 0;
    }
}