@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: normal;
    src: local('roboto'), url('./fonts/Roboto-Black.ttf') format('ttf');
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

