.why{
    margin-top: 100px;
}
.favorite_wrapp {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 70px;
}

.tittle {
    padding: 30px 0 30px 0;
    color: #444;
    font-size: 33px;
}

.section_3 {
    margin-top: 10vh;
    width: 74%;
    margin: auto;
}

.favorite {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.number {
    border-radius: 100px;
    font-size: 24px;
    background-color: #15c5e8;
    color: #fff;
    padding: 14px 24px;
    font-weight: 600;
  
}

h3 {
    margin: 0;
}

.number_div {
    margin-top: 16px;
}

.inner_div {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.text-div {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: 15px;
}

.text-div span {
    margin-top: 10px;
}

@media (max-width: 780px) {
    .favorite_wrapp {
        justify-content: center;
    }

    .tittle {
        text-align: center;
        margin-left: 10px;
    }
}
@media (max-width: 580px) {
    .favorite_wrapp {
        justify-content: center;
    }

    .tittle {
        font-size: 25px;
        /* text-align: left; */
        /* margin-left: 10px; */
        margin: 20px 0 10px 2%;
    }
}